
<table class='table'>
    {% for i in range(1, 3) %}
        <tr>
            {% for j in range(1, 3) %}
                <td data-pos={{i}}{{j}} onclick='playTurn([{{i}},{{j}}]);'></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table> 
