<div class=''>
    <div class=''>
        <h3> 
            <img src="{{asset('/images/x1.png')}}"  width='15px'> 
            <span id='span_player_one'>
                {{playerOne}} 
            </span>          
            vs            
            <span id='span_player_two'>
                {{playerTwo}}
            </span>
            <img src="{{asset('/images/o5.png')}}" width='15px'> 
        </h3>
        
    </div>    
</div>
