<div class=''>
    <div class=''>
        <h3> 
            <img src="{{asset('/images/x1.png')}}"  width='15px'> 
            <span id='span_player_one'>
                {{playerOne}} 
            </span>          
            vs
            <img src="{{asset('/images/o5.png')}}" width='15px'> 
            <span id='span_player_two'>
                {{playerTwo}}
            </span>
        </h3>
    </div>
    <div class=''>
        <button class='btn btn-light' onclick='location.reload()' type='button'> ¡Nueva partida! </button>
    </div>
</div>
